force-app/main/default/flows/Account_Contact_Case_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_the_AccountId</name>
        <label>Assign the AccountId</label>
        <locationX>440</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>Account_Name.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createaccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contactcheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_contactId</name>
        <label>Assign the contactId</label>
        <locationX>381</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>contact_lookup.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_check</name>
        <label>Accountcheck</label>
        <locationX>185</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Contactcheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account exist</defaultConnectorLabel>
        <rules>
            <name>IfAccountnotexist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Name.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createaccount</targetReference>
            </connector>
            <label>IfAccountnotexist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contactcheck</name>
        <label>Contactcheck</label>
        <locationX>188</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>create_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactExist</defaultConnectorLabel>
        <rules>
            <name>IfContactNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact_lookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact</targetReference>
            </connector>
            <label>IfContactNotExist</label>
        </rules>
    </decisions>
    <interviewLabel>Account Contact Case flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contact Case flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_case</name>
        <label>create case</label>
        <locationX>220</locationX>
        <locationY>832</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Discription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>391</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Assign_the_contactId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erromessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Nameifnocontact.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Nameifnocontact.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createaccount</name>
        <label>createaccount</label>
        <locationX>408</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Assign_the_AccountId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_name2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site</field>
            <value>
                <elementReference>Account_site</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>Account_contact_case_form</name>
        <label>Account contact case form</label>
        <locationX>183</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_check</targetReference>
        </connector>
        <fields>
            <name>accountinfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;AccountInformation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_name2</name>
            <dataType>String</dataType>
            <fieldText>Account name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Account_Name.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_site</name>
            <dataType>String</dataType>
            <fieldText>Account site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Account_Name.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>contact_info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;ContactInformation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contact_lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nameifnocontact</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contact_lookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contact_lookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>caseInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;CaseInformation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Discription</name>
            <fieldText>Discription</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erromessage</name>
        <label>Erromessage</label>
        <locationX>665</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErronContacts</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Exception has been occured &lt;/b&gt;&lt;span style=&quot;color: rgb(173, 3, 14);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>658</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>exceptionhandles</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(15, 13, 13);&quot;&gt;Exception has been occurred &lt;/b&gt;&lt;span style=&quot;color: rgb(195, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Account_contact_case_form</startElementReference>
    <status>Obsolete</status>
</Flow>
