force-app/main/default/flows/contact_test_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Adding_to_collection_updated_rec</name>
        <label>Adding to collection updated rec</label>
        <locationX>541</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>updatedcontacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterating_over_contact_rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterating_over_contact_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigning_city</name>
        <label>assigning city</label>
        <locationX>414</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>iterating_over_contact_rec.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_city</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_collection_updated_rec</targetReference>
        </connector>
    </assignments>
    <interviewLabel>contact test 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contact update  test 1</label>
    <loops>
        <name>iterating_over_contact_rec</name>
        <label>iterating over contact rec</label>
        <locationX>246</locationX>
        <locationY>491</locationY>
        <collectionReference>getAllContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigning_city</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updating_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAllContact</name>
        <label>getAllContact</label>
        <locationX>256</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterating_over_contact_rec</targetReference>
        </connector>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>updating_contacts</name>
        <label>updating contacts</label>
        <locationX>50</locationX>
        <locationY>560</locationY>
        <inputReference>updatedcontacts</inputReference>
    </recordUpdates>
    <screens>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>256</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAllContact</targetReference>
        </connector>
        <fields>
            <name>Mailing_city</name>
            <dataType>String</dataType>
            <fieldText>Mailing city</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>update_contact</startElementReference>
    <status>Draft</status>
    <variables>
        <name>updatedcontacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
