force-app/main/default/flows/create_registers_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>email_to_user</name>
        <label>email to user</label>
        <locationX>351</locationX>
        <locationY>409</locationY>
        <actionName>RegisteredUser__c.Thank_you_mail_to_new_user</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>create_user</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>North_carolina</name>
        <choiceText>North carolina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>North carolina</stringValue>
        </value>
    </choices>
    <choices>
        <name>south_carolina</name>
        <choiceText>south carolina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>south carolina</stringValue>
        </value>
    </choices>
    <choices>
        <name>Texas</name>
        <choiceText>Texas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Texas</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>countrylist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>RegisteredUser__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create registers user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_user</name>
        <label>create user</label>
        <locationX>225</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>email_to_user</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_name__c</field>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_name__c</field>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>city__c</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>state__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <object>RegisteredUser__c</object>
    </recordCreates>
    <screens>
        <name>create_new_user</name>
        <label>create new user</label>
        <locationX>219</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_user</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>country</name>
            <choiceReferences>countrylist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>city</name>
            <dataType>String</dataType>
            <fieldText>city</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>North_carolina</choiceReferences>
            <choiceReferences>south_carolina</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>country</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>United States of America</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>create_new_user</startElementReference>
    <status>Draft</status>
</Flow>
