force-app/main/default/flows/filtercontactflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>countassignment</name>
        <label>countassignment</label>
        <locationX>396</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>contactcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Getcontacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contactdisplay</targetReference>
        </connector>
    </assignments>
    <interviewLabel>filtercontactflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>filtercontactflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Getcontacts</name>
        <label>Getcontacts</label>
        <locationX>229</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countassignment</targetReference>
        </connector>
        <filters>
            <field>MailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dallas</stringValue>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <screens>
        <name>Contactdisplay</name>
        <label>Contactdisplay</label>
        <locationX>581</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Listofcontacts</name>
            <fieldText>&lt;p&gt;contact from dallas :{!contactcount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Getcontacts</startElementReference>
    <status>Draft</status>
    <variables>
        <name>contactcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
