force-app/main/default/flows/flowforcasecount_on_acccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addtocollections</name>
        <label>addtocollections</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>accListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordsForOldId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_count_case</name>
        <label>Copy 1 of count case</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>num1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_get_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_update_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countfor_new</name>
        <label>countfor new</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>accRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getcasesfornewId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accRec.Latest_case_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtocollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countforoldId</name>
        <label>countforoldId</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>accRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordsForOldId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accRec.Latest_case_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateacclist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAccountIdchange</name>
        <label>isAccountIdchange</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>not change or created</defaultConnectorLabel>
        <rules>
            <name>change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ischange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getcasesfornewId</targetReference>
            </connector>
            <label>change</label>
        </rules>
        <rules>
            <name>iscreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_get_cases</targetReference>
            </connector>
            <label>iscreated</label>
        </rules>
    </decisions>
    <formulas>
        <name>ischange</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Account.Id})</expression>
    </formulas>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>flowforcasecount on acccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowforcasecount on acccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_get_cases</name>
        <label>Copy 1 of get cases</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_count_case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>getcasesfornewId</name>
        <label>getcasesfornewId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countfor_new</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>recordsForOldId</name>
        <label>recordsForOldId</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countforoldId</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_acc</name>
        <label>Copy 1 of update acc</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_case_number__c</field>
            <value>
                <elementReference>num1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateacclist</name>
        <label>updateacclist</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>accListToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>isAccountIdchange</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>accListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>num1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
