force-app/main/default/flows/opp_close_won_attach_same_doc_to_related_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>create_cdl_rec</name>
        <label>create cdl rec</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>cdlRec.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterrate_over_opp_documents.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlRec.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlRec.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cdlRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterrate_over_opp_documents</targetReference>
        </connector>
    </assignments>
    <interviewLabel>opp close won attach same doc to related account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opp close won attach same doc to related account</label>
    <loops>
        <name>iterrate_over_opp_documents</name>
        <label>iterrate over opp documents</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_cdl_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_cdl_rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_cdl</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_cdl</name>
        <label>create cdl</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>cdlist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_cdl_records</name>
        <label>get cdl records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterrate_over_opp_documents</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordLookups>
    <startElementReference>get_cdl_records</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>cdlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>cdlRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
