force-app/main/default/flows/playing_with_case_record_types_using_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Copy_1_of_counting_here</name>
        <label>Copy 1 of counting here</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Noofrecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getallcustomercases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_update_account1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counting_here</name>
        <label>counting here</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Noofrecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_all_partner_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_account1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_recordType</name>
        <label>check recordType</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Partner_case_recordtypeId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_partner_cases</targetReference>
            </connector>
            <label>isPartner</label>
        </rules>
        <rules>
            <name>iscustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CopycustomercaserecordtypeId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getallcustomercases</targetReference>
            </connector>
            <label>iscustomer</label>
        </rules>
    </decisions>
    <interviewLabel>playing with case record types using flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>playing with case record types using flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CopycustomercaserecordtypeId</name>
        <label>Copy customer case recordtypeId</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_recordType</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>get_all_partner_cases</name>
        <label>get all partner cases</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>counting_here</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Partner_case_recordtypeId.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>get_Partner_case_recordtypeId</name>
        <label>get Partner case recordtypeId</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CopycustomercaserecordtypeId</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>getallcustomercases</name>
        <label>get all customer cases</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_counting_here</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopycustomercaserecordtypeId.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_account1</name>
        <label>Copy 1 of update account1</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_customer_case__c</field>
            <value>
                <elementReference>Noofrecords</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_account1</name>
        <label>update account1</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_partner_case__c</field>
            <value>
                <elementReference>Noofrecords</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>get_Partner_case_recordtypeId</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Noofrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
