force-app/main/default/flows/testing_record_triggered_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assigning</name>
        <label>Assigning</label>
        <locationX>340</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_of_opps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>counting_opps</name>
        <label>counting opps</label>
        <locationX>540</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteration</targetReference>
        </connector>
    </assignments>
    <interviewLabel>testing record triggered flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testing record triggered flow</label>
    <loops>
        <name>iteration</name>
        <label>iteration</label>
        <locationX>224</locationX>
        <locationY>397</locationY>
        <collectionReference>all_ops</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>counting_opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assigning</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>all_ops</name>
        <label>all ops</label>
        <locationX>219</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iteration</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <startElementReference>all_ops</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
