force-app/main/default/flows/update_childs_from_parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>update_phone</name>
        <label>update phone</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>iterate_over_contacts.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_over_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>update childs from parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update childs from parent</label>
    <loops>
        <name>iterate_over_contacts</name>
        <label>iterate over contacts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>getrelatedrec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_phone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getrelatedrec</name>
        <label>getrelatedrec</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>update_contacts</name>
        <label>update contacts</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>conlist</inputReference>
    </recordUpdates>
    <startElementReference>getrelatedrec</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>conlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
