force-app/main/default/flows/Update_Account_flow_related_to_city.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Adding_records_to_collection</name>
        <label>Adding records to collection</label>
        <locationX>700</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>varForAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IteratingOverrecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IteratingOverrecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Current_Records</name>
        <label>Assigning Current Records</label>
        <locationX>524</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>IteratingOverrecords.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverrecords.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IteratingOverrecords.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverrecords.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IteratingOverrecords.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverrecords.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IteratingOverrecords.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverrecords.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IteratingOverrecords.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverrecords.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_records_to_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account flow related to city</label>
    <loops>
        <name>IteratingOverrecords</name>
        <label>IteratingOverrecords</label>
        <locationX>367</locationX>
        <locationY>283</locationY>
        <collectionReference>Get_all_records_related_to_city</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Current_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updatetodatabase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_records_related_to_city</name>
        <label>Get all records related to city</label>
        <locationX>232</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IteratingOverrecords</targetReference>
        </connector>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_country_name</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>Updatetodatabase</name>
        <label>Updatetodatabase</label>
        <locationX>550</locationX>
        <locationY>427</locationY>
        <inputReference>varForAccountCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>capture_country_name</name>
        <label>capture country name</label>
        <locationX>225</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_all_records_related_to_city</targetReference>
        </connector>
        <fields>
            <name>Enter_country_name</name>
            <dataType>String</dataType>
            <fieldText>Enter Country name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>capture_country_name</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>varForAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
