force-app/main/default/flows/updatingmasscontactsflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assigningmailingcity</name>
        <label>Assigningmailingcity</label>
        <locationX>541</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>iteratingrecords.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_city</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collectingupdatedrecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collectingupdatedrecords</name>
        <label>Collectingupdatedrecords</label>
        <locationX>542</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>updateRecVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iteratingrecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteratingrecords</targetReference>
        </connector>
    </assignments>
    <interviewLabel>updatinglargecontactsflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updating mass contacts flow</label>
    <loops>
        <name>iteratingrecords</name>
        <label>iteratingrecords</label>
        <locationX>315</locationX>
        <locationY>297</locationY>
        <collectionReference>GetcontactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigningmailingcity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateindatabse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetcontactRecords</name>
        <label>GetcontactRecords</label>
        <locationX>170</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iteratingrecords</targetReference>
        </connector>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>updateindatabse</name>
        <label>updateindatabse</label>
        <locationX>429</locationX>
        <locationY>66</locationY>
        <inputReference>updateRecVar</inputReference>
    </recordUpdates>
    <screens>
        <name>screenforcontactdetail</name>
        <label>screenforcontactdetail</label>
        <locationX>172</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetcontactRecords</targetReference>
        </connector>
        <fields>
            <name>Enter_city</name>
            <dataType>String</dataType>
            <fieldText>Enter city</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screenforcontactdetail</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>updateRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
