force-app/main/default/flows/UpdateContactsFLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignPhone</name>
        <label>assignPhone</label>
        <locationX>1047</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>iterovergetcontact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterovergetcontact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterovergetcontact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateContactsFLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateContactsFLow</label>
    <loops>
        <name>iterovergetcontact</name>
        <label>iterovergetcontact</label>
        <locationX>411</locationX>
        <locationY>463</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPhone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatecontacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>709</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterovergetcontact</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>updatecontacts</name>
        <label>updatecontacts</label>
        <locationX>332</locationX>
        <locationY>831</locationY>
        <inputReference>ConListToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>getContacts</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ConListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
